#pagina{
    background-color: rgb(220, 238, 213);
}
.table{
    border: 1px solid black;
    width: 80%;
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}

.table td, .table th {
    border: 1px solid black;
    border-collapse: collapse;
    width: 200px;
    
}
.table tr {
    height: 200px; 
}

.foto{
    display: block;
    margin: 0 auto;
    width: 200px;
}
#tittle{
    text-align: center;
    font-size: 120px;
}

.MenuNavegacion{
    font-size: 30px;
}