<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Agregar Actividad</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/agregarActividad.css') }}">



</head>

<body>
  <form action="/agregar_actividad" method="post" id="form" class="formulario" enctype="multipart/form-data">


    <h1 id="titulo">¿Dónde?</h1>

    {% if errors %}
      {% for msg in errors %}
        <span class="error-span">{{ msg }}</span>
      {% endfor %}
    {% endif %}

 

    <div class="fila-horizontal">
      <label for="regiones">Seleccione la región</label>
      <select name="regiones" id="regiones" required>
        <option value="" disabled selected>Seleccione una región</option>
        <option value="Región Arica y Parinacota">Arica y Parinacota</option>
        <option value="Región de Tarapacá">Tarapacá</option>
        <option value="Región de Antofagasta">Antofagasta</option>
        <option value="Región de Atacama">Atacama</option>
        <option value="Región de Coquimbo ">Coquimbo</option>
        <option value="Región de Valparaíso">Valparaíso</option>
        <option value="Región Metropolitana de Santiago ">Región Metropolitana</option>
        <option value="Región del Libertador Bernardo Ohiggins">Libertador General Bernardo O'Higgins</option>
        <option value="Región del Maule">Maule</option>
        <option value="Región del Ñuble">Ñuble</option>
        <option value="Región del Biobío">Biobío</option>
        <option value="Región de La Araucanía">La Araucanía</option>
        <option value="Región de Los Ríos">Los Ríos</option>
        <option value="Región de Los Lagos">Los Lagos</option>
        <option value="Región Aisén del General Carlos Ibáñez del Campo">Aysén del General Carlos Ibáñez del Campo</option>
        <option value="Región de Magallanes y la Antártica Chilena">Magallanes y de la Antártica Chilena</option>
      </select>
    </div>

    <div class="fila-horizontal">
      <label for="comuna">Seleccione la comuna</label>
      <select name="comunas" id="comuna" required>
        <option value="" disabled selected>Seleccione una comuna</option>
      </select>
    </div>

    <div class="fila-horizontal">
      <label for="sector">Sector (opcional)</label>
      <input type="text" name = "sector" id="sector" maxlength="100" size="50" >
    </div>

    <h2 style="text-align: center;">¿Quién lo organiza?</h2>

    <div class="fila-horizontal">
      <label for="name">Nombre</label>
      <input type="text" name = "name" id="name" maxlength="200" required >
    </div>

    <div class="fila-horizontal">
      <label for="email">Email</label>
      <input name = "email" type="email" id="email" maxlength="100" required > 
      <button type="button" id="validarCorreo">Validar</button>
      <span id="errorEmail" class="error-span"></span>


      

    </div>

    <div class="fila-horizontal">
      <label for="number">Número de celular</label>
      <input type="text" id="number" name="number">
      <span id="errorNumero" class="error-span"></span>
      
    </div>

    <p>Contactar por (máximo 5 selecciones y de 4 a 50 caracteres por bloque seleccionado)</p>
    <div id="redes-contacto">
      <input type="checkbox" name="whatsapp" onclick="revisaCheck(this)"> whatsapp<br>
      <input id="whatsapp" name="id_whatsapp" type="text" style="display:none"><br>
    
      <input type="checkbox" name="instagram" onclick="revisaCheck(this)"> instagram<br>
      <input id="instagram" name="id_instagram" type="text" style="display:none"><br>
    
      <input type="checkbox" name="telegram" onclick="revisaCheck(this)"> telegram<br>
      <input id="telegram" name="id_telegram" type="text" style="display:none"><br>
    
      <input type="checkbox" name="X" onclick="revisaCheck(this)"> X<br>
      <input id="X" name="id_X" type="text" style="display:none"><br>
    
      <input type="checkbox" name="tiktok" onclick="revisaCheck(this)"> tiktok<br>
      <input id="tiktok" name="id_tiktok" type="text" style="display:none"><br>
    
      <input type="checkbox" name="otra" onclick="revisaCheck(this)"> otra<br>
      <input id="otra" name="id_otra" type="text" style="display:none"><br>

      <span id="contactoError" class="error-span"></span>
    </div>

    <h2>¿Cuándo y de qué trata?</h2>

    <div class="fila-horizontal">
      <label for="DiaHoraInicio">Día y hora inicio</label>
      <input type="datetime-local" id="DiaHoraInicio" name="DiaHoraInicio" required>
    </div>

    <div class="fila-horizontal">
      <label for="DiaHoraTermino">Día y hora término</label>
      <input type="datetime-local" id="DiaHoraTermino" name="DiaHoraTermino" >
    </div>

    <span id="errorFecha" class="error-span"></span>



    <div class="fila-horizontal">
      <label for="descripción">Descripción</label>
      <textarea id="descripción" name="descripción" rows="10" cols="50"></textarea>
    </div>
    

    <div class="fila-horizontal">
<p>Tema. Al menos 1 opción</p>
<div id="tema">
  <input type="checkbox" name="musica"> Música<br>

  <input type="checkbox" name="deporte"> Deporte<br>

  <input type="checkbox" name="ciencias"> Ciencias<br>

  <input type="checkbox" name="religion" > Religión<br>

  <input type="checkbox" name="politica" > Política<br>

  <input type="checkbox" name="tecnologia" > Tecnología<br>

  <input type="checkbox" name="juegos"> Juegos<br>

  <input type="checkbox" name="baile" > Baile<br>

  <input type="checkbox" name="comida" onclick="revisaCheck(this)"> Comida<br>

 <input type="checkbox" name="otro" onclick="otroTema()"> Otro<br>
 
 <input id="id_otro" name="id_otro" type="text" style="display:none"><br>
 <div id="input_otro_tema"></div>

  <span id="temaError" class="error-span"></span>
  
</div>
      </div>
    

    <div class="fila-horizontal" id="contenedor-fotos">
      <label for="Foto">Fotos (máx. 5)</label>
      <div id="zona-fotos">
        <input type="file" name="Foto" class="foto-input" id="Foto" required >
      </div>
      <button type="button" id="agregarFoto">+fotos</button>
    </div>

    <button type="button" id="AgregarActividad">Agregar esta actividad</button>
    <span id="errorGeneral" class="error-span" style="display: block; text-align: center;"></span>
  </form>
  
  <div id="confirmacion" style="display: none; text-align: center; border: 1px solid #ccc; padding: 20px; margin: 20px; background-color: #f9f9f9;">
    <p>¿Está seguro que desea agregar esta actividad?</p>
    <button onclick="enviarFormulario()">Sí, estoy seguro</button>
    <button onclick="cancelarEnvio()">No, no estoy seguro, quiero volver al formulario</button>
  </div>
  
  
  
  <button type="button" onclick="location.href='/'">Volver a la portada</button>
  

  


  <script src ="{{url_for('static',filename='js/Javascript.js')}}"   ></script>
</body>
</html>