<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <h1 style="text-align: center; font-size: 70px;">Análisis Estadístico</h1>
    <div style="display: flex; justify-content: center; align-items: center;"> 
        <button type="button" onclick="location.href='/'" style="padding:50px; background-color: rgb(133, 242, 204);">
            Volver a la portada
        </button>
    </div>

        <h1 style="text-align: center;"> Gráfico de torta  </h1>
    <div style="width: 100%;  height: 300px; max-width: 600px; margin: auto;">
        <canvas id="graficoTorta"></canvas>
    </div>

    <h1 style="text-align: center;"> Gráfico de Linea </h1>
    <div style="width: 100%;  height: 300px; max-width: 600px; margin: auto;">
        <canvas id="graficoLinea"></canvas>
    </div>


    <h1 style="text-align: center;"> Gráfico de barras </h1>
        <div style="width: 100%;  height: 300px; max-width: 600px; margin: auto;">
        <canvas id="graficoMeses"></canvas>
    </div>





     <script src="{{ url_for('static', filename='js/ajax.js') }}"></script>
</body>
</html>
