<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarea2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilosIndex.css') }}">
</head>
<body id="pagina">
    <h1 id="tittle"> BIENVENIDOS</h1>

    {% if mensaje %}
    <div class="mensaje-exito">{{ mensaje }}</div>
    {% endif %}

    <nav class="MenuNavegacion">
        <ul>
            <li><a href="/agregar_actividad">Agregar actividad</a></li>
            <li><a href="/listado_de_actividades">Listado de actividades</a></li>
            <li><a href="/estadisticas">Estadísticas</a></li>
        </ul>
    </nav>

    <table class="table">
        <tr> 
            <th>Inicio</th>
            <th>Término</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Organizador</th>
            <th>Foto</th>
        </tr>

        {% for act in actividades %}
        <tr>
            <td>{{ act.fecha_inicio }}</td>
            <td>{{ act.fecha_termino }}</td>
            <td>{{ act.comuna }}</td>
            <td>{{ act.sector or '---' }}</td>
            <td>{{ act.nombre }}</td>
            <td>
                {% if act.foto_url %}
                    <img src="{{ act.foto_url }}" alt="FotoActividad" class="foto" width="250" height="200">
                {% else %}
                    Sin foto
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>

    <script src="{{ url_for('static', filename='js/Javascript.js') }}"></script>
</body>
</html>
