<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ListadoDeActividades</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ListadoDeActividades.css') }}">
</head>
<body>
    <p style="font-size: 30px;">Si haces clic sobre cualquiera, te lleva a otro HTML con la ficha ordenada, y luego se puede volver.</p>
    
    <table class="table">
        <tr>
            <th>Inicio</th>
            <th>Término</th>
            <th>Comuna</th>
            <th>Sector</th>
            <th>Nombre Organizador</th>
            <th>Total Fotos</th>
        </tr>
        {% for a in actividades %}
        <tr class="clickable-row" data-id="{{ a.id }}">
        <td>{{ a['fecha_inicio'] }}</td>
        <td>{{ a['fecha_termino'] }}</td>
        <td>{{ a['comuna'] }}</td>
        <td>{{ a['sector'] or '---' }}</td>
        <td>{{ a['nombre'] }}</td>
        <td>{{ a['total_fotos'] }}</td>
        </tr>
        {% endfor %}
    </table>

    <div class="paginacion">
        {% if pagina_actual > 1 %}
            <a href="{{ url_for('listado', page=pagina_actual - 1) }}">&laquo; Anterior</a>
        {% endif %}

        <span>Página {{ pagina_actual }} de {{ total_paginas }}</span>

        {% if pagina_actual < total_paginas %}
            <a href="{{ url_for('listado', page=pagina_actual + 1) }}">Siguiente &raquo;</a>
        {% endif %}
    </div>

    <script>
        document.querySelectorAll(".clickable-row").forEach(row => {
            row.addEventListener("click", () => {
                const id = row.getAttribute("data-id");
                window.location.href = `/info?id=${id}`;
            });
        });
    </script>

    <button type="button" onclick="location.href='/'">Volver a la portada</button>
</body>
</html>
